/*CSS RESET*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body{
	font-family:Helvetica, Arial, sans-serif;
}

a{text-decoration:none;}
a:hover{text-decoration:underline;}

#header{
	background:#E0E0E0;
	padding:2px 0;
	font-size:0.9em;
	color:#666;
}

#header a{
	color:#53777A;
}

#header-user{
	text-align:right;
	min-width:100px;
	margin:2px 5px 2px 0;
}

#user-photo{
	display:inline-block;
	margin-right:5px;
}

#user-photo img{
	height:25px;
}

#user-name{
	display:inline-block;
}

#logout-prompt{
	display:inline-block;
	margin-left:5px;
}

h1{
	font-size:8em;
	font-family: 'Amatic SC', sans-serif;
	font-weight:bold;
	margin-top:100px;
}

h1#masthead{
	text-align:center;
	clear:both;
	color:#53777A;
}

.awesome{
	color:#C02942;
}

#goal-input{
	margin:30px auto 0;
	width:750px;
}

input{
	border:0;
	font-size:2em;
	font-family: 'Amatic SC', sans-serif;
	font-weight:bold;	
}

input#goal{
	width:600px;
	padding:2px 5px;
	border:1px solid #bbb;
}

input#submit-goal{
	padding: 3px 15px;
	background: #D95B43;
	color:#ECD078;
}

#todays-goal{
	width: 950px;
	margin: 0 auto;
	font-family: 'Amatic SC', sans-serif;
	font-size: 5em;
	text-align: center;
}

#todays-awesome{
	background:#F2F2F2;
	padding:8px 10px;
	width:800px;
	margin:50px auto 25px;
	font-family: 'Amatic SC', sans-serif;
	font-size:3em;
	border-radius:4px;
	line-height:1.2em;
}

#todays-goals-all{
	font-family: 'Amatic SC', sans-serif;
	width:1000px;
	margin:80px auto 20px;
}

h2{
	font-size:4em;
}

#todays-goals-all h2{
	margin:0 0 10px;
	color:#542437;
}

#todays-goal-list{
	width: 1000px;
	margin: 0 auto;
	font-family: 'Amatic SC', sans-serif;
	text-align: center;
}

#todays-goals-all #todays-goal-list li{
	font-size: 2.8em;
	margin-bottom: 10px;
	color: #888;
	text-align:left;
}

#todays-goal-list li{
	margin-bottom:20px;
	font-size:5em;
	color:#333;
}

#awesome-prompt{
	display:inline-block;
	text-align:left;
}

#awesome-buttons{
	float:right;
	line-height:1em;
}

#awesome-buttons .button{
	padding: 4px 10px;
	border-radius: 4px;
	margin-left:4px;
}

#awesome-yes{
	display:inline-block;
	background:#C02942;
	color:#fff;
	border:1px solid #941F32;
}

#awesome-yes:hover{
	background:#941F32;
	border:1px solid #C02942;
}

#awesome-no{
	display:inline-block;
	background:#ECD078;
	border:1px solid #C9AE59;
}

#awesome-no:hover{
	display:inline-block;
	background:#C9AE59;
	border:1px solid #ECD078;
}

.awesome-share{
	font-size: 0.8em;
	color: #666;
	line-height: 1.1em;
	float: left;
	margin: 9px 8px 0 0;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

#todays-awesome .awesome-share{font-size:0.9em; margin-left:40px;}
.fb-login-button{
	margin:-6px 0 0 10px;
	display: inline-block;
	float: left;
}
.fb_button_xlarge .fb_button_text{font-size:0.8em;}

#whats-this{
    color: #888;
    float: left;
    margin: 0 0 0 5px;
    font-size: 0.9em;
    cursor:pointer;
}

h3{
    font-size: 0.8em;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 3px;
}

#whats-this-popup{
    display:block;
    display:none;
    z-index:999;
    position:absolute;
    top:20px;
    left:5px;
    background:#fff;
    padding:10px;
    border:1px solid #bbb;
    width:400px;
}

#whats-this-popup p{
    font-size: 0.755em;
    margin-top: 1em;
    text-align: left;
    line-height: 1.3em;
}

#share-the-awesome{
    display: block;
    padding: 0 10px 0 8px;
    width: 800px;
    margin: 0 auto 25px;
    font-family: 'Amatic SC', sans-serif;
    font-size: 3em;
    line-height: 1.2em;
}

strong{
    font-weight:bold;
}

#login-prompt{
	background:#F2F2F2;
	padding:8px 10px;
	width:800px;
	margin:50px auto 25px;
	font-family: 'Amatic SC', sans-serif;
	font-size:3em;
	border-radius:4px;
	line-height:1.2em;	
}

#login-prompt .awesome-share{font-size:0.9em; margin-left:40px;}

#no-active-goal{
	display:none;
}